{{!-- this is standard HTML template. The HTML on this page will be used for all
of the other handlebars files. They will 'inject' their HTML into the part 
of the tamplate with {{body}} --}}

<!doctype html>
<html>

<head>
<img src="/images/logo.jpg">

    <title>Covid Travel</title>

</head>

<body>
    {{{body}}}
<h2> Welcome to Covid Travel </h2>


    
</body>

</html>